<div class='flex flex-col items-center absolute inset-x-0 top-1/4 text-center'>
  <h1 class="text-7xl font-bold"><i class="las la-user-clock mr-3"></i>Punctual</h1>
  <h2 class="text-4xl font-medium mt-2">A Reminder/To-do App</h2>
  <div class='flex flex-wrap gap-2 mt-4'>
    <%= link_to "Log in", new_user_session_path, class: "bg-slate-400 px-4 py-2 rounded-md cursor-pointer font-medium text-2xl hover:bg-slate-300" %>
    <%= link_to "Sign up", new_user_registration_path, class: "bg-slate-400 px-4 py-2 rounded-md cursor-pointer font-medium text-2xl hover:bg-slate-300" %>
  </div>
</div>
