<div class="text-center">
  <h1 class="font-bold text-4xl mb-4"><%= @category.name %></h1>
  <%= link_to "Rename Category", edit_category_path, class: 'bg-slate-400 p-2 rounded-md cursor-pointer font-medium text-lg hover:bg-slate-500' %>
  <%= link_to "Add Task", new_task_path, class: 'bg-slate-400 p-2 rounded-md cursor-pointer font-medium text-lg hover:bg-slate-500' %>
</div>
<%= render 'shared/task_list' %>
